.demo-graphs.mdl-shadow--2dp.mdl-color--white.mdl-cell.mdl-cell--8-col
  header
    router-outlet

  //md-content
    section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
      button(md-button='') {{title1}}
      button.md-primary(md-button='', md-no-ink='') Primary (md-noink)
      button.md-primary(md-button='', disabled='true') Disabled
      button.md-warn(md-button='') {{title4}}
      .label Flat
    section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
      button.md-raised(md-raised-button='') Button
      button.md-raised.md-primary(md-raised-button='') Primaryre
      button.md-raised.md-primary(md-raised-button='', disabled='true') Disabled
      button.md-raised.md-warn(md-raised-button='') Warn
      .label Raised
    section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
      button.md-fab(md-fab='', aria-label='Eat cake')
        i(md-icon='') cake
      button.md-primary(md-fab='', aria-label='Use Android')
        i(md-icon='') android
      button(md-fab='', disabled='true', aria-label='Comment')
        i(md-icon='') comment
      button.md-primary.md-hue-2(md-fab='', aria-label='Profile')
        i(md-icon='') people
      button.md-mini(md-fab='', aria-label='Eat cake')
        i(md-icon='') cake
      button.md-mini.md-primary(md-fab='', aria-label='Use Android')
        i(md-icon='') android
      .label FAB
    section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
      a(md-button='', [href]='googleUrl', target='_blank') Default Link
      a.md-primary(md-button='', [href]='googleUrl', target='_blank') Primary Link
      button(md-button='') Default Button
      .label Link vs. Button
    section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
      button.md-primary.md-hue-1(md-button='') Primary Hue 1
      button.md-warn.md-hue-2(md-raised-button='') Warn Hue 2
      button.md-accent(md-button='') Accent
      button.md-accent.md-hue-1(md-raised-button='') Accent Hue 1
      .label Themed
    section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
      button.md-icon-button.md-primary(md-button='', aria-label='Settings')
        i(md-icon='') menu
      button.md-icon-button.md-accent(md-button='', aria-label='Favorite')
        i(md-icon='') favorite
      button.md-icon-button(md-button='', aria-label='More')
        i(md-icon='') more_vert
      a.md-icon-button.launch(md-button='', href='#', title='Launch Google.com in new window', target='_blank', disabled='true', aria-label='Google.com')
        i(md-icon='') launch
      .label Icon Button