nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
  h3 My Playlists
  a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation')
    | Home
  a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') inbox
    | Inbox
  a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') delete
    | Trash
  a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') report
    | Spam
  a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') forum
    | Forums
  a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') flag
    | Updates
  a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') local_offer
    | Promos
  a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') shopping_cart
    | Purchases
  a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') people
    | Social
  .mdl-layout-spacer
  a.mdl-navigation__link(href='')
    i.mdl-color-text--blue-grey-400.material-icons(role='presentation') help_outline
    span.visuallyhidden Help