.demo-cards.mdl-cell.mdl-cell--4-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing
  selected-details

  //.demo-updates.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop
    .mdl-card__title.mdl-card--expand.mdl-color--teal-300
      h2.mdl-card__title-text Updatess
      a(href="#") KOKO

    .mdl-card__supporting-text.mdl-color-text--grey-600
      | Non dolore elit adipisicing ea reprehenderit consectetur culpa.
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href='#') Read More
  .demo-separator.mdl-cell--1-col
  .demo-options.mdl-card.mdl-color--deep-purple-500.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--3-col-tablet.mdl-cell--12-col-desktop
    .mdl-card__supporting-text.mdl-color-text--blue-grey-50
      h3 View options
      ul
        li
          label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='chkbox1')
            input#chkbox1.mdl-checkbox__input(type='checkbox')
            span.mdl-checkbox__label Click per object
        li
          label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='chkbox2')
            input#chkbox2.mdl-checkbox__input(type='checkbox')
            span.mdl-checkbox__label Views per objectd
        li
          label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='chkbox3')
            input#chkbox3.mdl-checkbox__input(type='checkbox')
            span.mdl-checkbox__label Objects selected
        li
          label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='chkbox4')
            input#chkbox4.mdl-checkbox__input(type='checkbox')
            span.mdl-checkbox__label Objects viewed
    .mdl-card__actions.mdl-card--border
      a.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-color-text--blue-grey-50(href='#') Change location
      .mdl-layout-spacer
      i.material-icons location_on
