.demo-updates.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop(*ngIf="show")
  .mdl-card__title.mdl-card--expand.mdl-color--teal-300
    h2.mdl-card__title-text ARTIST FORM
  .mdl-card__supporting-text.mdl-color-text--grey-600
    div
      md-content
        div(layout='column')
          md-content(layout-padding='')
            form( [ngFormModel]='artistForm',(submit)="update($event)", #f="ngForm" )
              md-input-container.md-block.md-input-mymusic
                label(for='title') Title
                input#title(md-input='', ngControl="title",[(value)]='artist.properties.title', #t="ngForm", [(ngModel)]='artist.properties.title'  )
                //input#title(md-input='', ngControl='title' )
                div(md-messages="title"  )
                  div(md-message='required') This is required.
                  div(md-message='maxlength') The title has to be less than 30 characters long.
              md-input-container.md-block.md-input-mymusic
                label(for='country') Country
                input#country(md-input='', ngControl="country", [(value)]='artist.properties.country', [(ngModel)]='artist.properties.country' )
                //input#country(md-input='', ngControl='country')
                div(md-messages='country', role='alert')
                  div(md-message='required') This is required.
              md-input-container.md-block.md-input-mymusic(flex-gt-sm='')
                label Genre
                select([(ngModel)]='artist.properties.genre_id', ngControl="genre_id")
                  option(*ngFor='#genre of genres', [value]='genre.properties.id' )
                    | {{genre.properties.title}}
              //md-input-container.md-block.md-input-mymusic(flex-gt-sm='')
                //ul(ngControlGroup='albums_attributes')
                div(*ngFor='#cg of ctrlAlbums')
                  input(ngControl='')


              md-input-container.md-block
                button(type='submit',[disabled] = "!artistForm.valid") Update
            strong Model
            pre.md-padding.
              {{artist.properties | json}}
            pre.md-padding.
              {{artistForm.errors | json}}
