h2
div.wf-container
  div(layout='row', layout-padding='', layout-wrap='', layout-fill='', style='padding-bottom: 32px;', ng-cloak='')
    md-whiteframe.md-whiteframe-1dp(*ngFor="#item of list | paginate: { id: 'paging', itemsPerPage: page_size, currentPage: page, totalItems: total_count }" flex-sm='45', flex-gt-sm='35', flex-gt-md='25', layout='', layout-align='center center', style="cursor:pointer;" , (click)='show_details(item)' )
      strong {{ item.properties.title }}

      //pre.
        {{ artist.properties | json }}
//- input(#newArtist='')
//- button((click)="addArtist(newArtist.value); newArtist.value=''")
//-   | Add Artist
//- .error(*ngIf='errorMessage') {{errorMessage}}
//- ul.meal-list
//-   li(*ngFor="#meal of asyncMeals | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }")
//-     | {{ meal }}

pagination-controls(#p, id='paging', (pageChange)='page = $event;getList(list_uri,$event)' style='cursor: pointer!important;')
  .custom-pagination
    .pagination-previous([class.disabled]='p.isFirstPage()', *ngIf='p.directionLinks')
      a( *ngIf='!p.isFirstPage()', (click)='p.previous()' )
    div(*ngFor='#page of p.pages', [class.current]='p.getCurrent() === page.value')
      a(  (click)='p.setCurrent(page.value)', *ngIf='p.getCurrent() !== page.value')
        span {{ page.label }}
      div(*ngIf='p.getCurrent() === page.value')
        span {{ page.label }}
    .pagination-next([class.disabled]='p.isLastPage()', *ngIf='p.directionLinks')
      a(*ngIf='!p.isLastPage()', (click)='p.next()' )


