.mdl-card__supporting-text.mdl-color-text--grey-600
  div
    md-content
      div(layout='column')
        md-content(layout-padding='')
          h3 Login
          strong Your token has expired
          form( [ngFormModel]='loginForm',(submit)="handleForm($event)", #f="ngForm" )
            md-input-container.md-block.md-input-mymusic
              label(for='email') Email
              input#email(md-input='', ngControl="email",[(value)]='login.email', #t="ngForm", [(ngModel)]='login.email'  )
              div(md-messages="email"  )
                div(md-message='required') This is required.
                div(md-message='maxlength') The email has to be less than 30 characters long.
            md-input-container.md-block.md-input-mymusic
              label(for='password') Password
              input#password(md-input='', ngControl="password",[(value)]='login.password', #t="ngForm", [(ngModel)]='login.password'  )
              div(md-messages="password"  )
                div(md-message='required') This is required.
                div(md-message='maxlength') The password has to be less than 30 characters long.
            md-input-container.md-block
              button(type='submit',[disabled] = "!loginForm.valid") Login
              button.md-mini.md-primary(md-fab, aria-label='Update', (click)="show=false;" )
                span Cancel
          strong Model
          //pre.md-padding.
            {{login | json}}
          //pre.md-padding.
            {{loginForm.errors | json}}
div.spinner-wrapper
    my-spinner.mm-spinner([isRunning]="spinner_active")