h1 MyMusic
h5 Single Page Application Built with angular2@2.0.0-beta.7
h6 Author: Spiros Kabasakalis
p
  | Consumes
  =" "
  a(href='https://github.com/drumaddict/mymusic-rails-api') MyMusic Rails API
  =" "
