.demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header
  include partials/header.jade
  .demo-drawer.mdl-layout__drawer.mdl-color--blue-grey-900.mdl-color-text--blue-grey-50
    //include partials/user_info.jade
    //include partials/nav.jade
  main.mdl-layout__content.mdl-color--grey-100
    .mdl-grid.demo-content
      include partials/main.jade
      include partials/sidebar.jade
div.spinner-wrapper
  my-spinner.mm-spinner([isRunning]="spinner_active")
list


