.demo-updates.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop
  .mdl-card__title.mdl-card--expand.mdl-color--teal-300
    h2.mdl-card__title-text {{selected_object?.properties.title}}
  .mdl-card__supporting-text.mdl-color-text--grey-600
    div
      md-content
        md-list
          md-list-item.md-2-line(*ngFor="#key_value of selected_object.properties | keys_values" )
            .md-list-item-text(layout='column')
              strong {{key_value[0]}}
              span  {{key_value[1]}}

      md-content
        md-list(*ngFor="#related_object of selected_object_related_objects" )
          md-list-item.md-2-line(*ngFor="#key_value of related_object.properties | keys_values" )
            .md-list-item-text(layout='column')
              strong {{key_value[0]}}
              span  {{key_value[1]}}
  .mdl-card__actions.mdl-card--border
  .mdl-card__supporting-text.mdl-color-text--grey-600
    md-content
      div(*ngFor="#related_class of related_classes" )
        div([ngSwitch]= "_selected_object_relations[related_class][0].hasOwnProperty('properties')" )
          template([ngSwitchWhen]='true')
            h6 {{related_class}} : {{_selected_object_relations[related_class][0].properties.title}}
            strong
          template([ngSwitchWhen]='false')
            a.mdl-button.mdl-js-button.mdl-js-ripple-effect((click)='raiseList({ uri: _selected_object_relations[related_class][0].href, type: related_class })' ) {{related_class}}
          template(ngSwitchDefault)
  .demo-graphs.mdl-shadow--2dp.mdl-color--white.mdl-cell.mdl-cell--8-col
    md-content(*ngIf="selected_object.properties.title != ''")
      section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
        button(aria-label='Delete', (click)='raiseDelete(selected_object)' )
          i.material-icons( md-icon) clear
          span DELETE
        button( aria-label='Update', (click)='raiseEdit({item:selected_object,related: _selected_object_relations})' )
          i.material-icons( md-icon) create
          span EDIT
  .mdl-card__supporting-text.mdl-color-text--grey-600
