.mdl-card__title.mdl-card--expand.mdl-color--teal-300
  h2.mdl-card__title-text {{selected_object?.properties.title}}
.mdl-card__supporting-text.mdl-color-text--grey-600
  div
    md-content
      md-list
        md-list-item.md-2-line(*ngFor="#key_value of selected_object.properties | keys_values" )
          .md-list-item-text(layout='column')
            strong {{key_value[0]}}
            span  {{key_value[1]}}