.demo-updates.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop
  h1 DETAILSSSSSSS
  //router-outlet
  //details-show
  .mdl-card__actions.mdl-card--border
  .demo-graphs.mdl-shadow--2dp.mdl-color--white.mdl-cell.mdl-cell--8-col
    md-content
      section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
        button.md-mini.md-primary(md-fab, aria-label='Delete', (click)='delete(selected_object)' )
          i.material-icons( md-icon) clear
        button.md-mini.md-primary(md-fab, aria-label='Update')
          i.material-icons( md-icon) create
  a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href='#') See Albums


//<li *ngFor='#bandMember of beatles | values:"key":true'>